// Table styles

.table {
  width: 100%;
}

.table--grid {
  th {
    font-weight: normal;
  }

  th,
  td {
    padding: 4px 0;
    min-width: 25px;
    text-align: center;
    border: 1px solid #ccc;
  }
}

.unavailable {
  color: shade(#0d05a5, 50%);
  background-color: shade(#0d05a5, 50%);
}

.available {
}

// Characters

.pacman {
  background-color: $pacman;
}

// Ghost targets

@each $ghost in pinky $pinky, blinky $blinky, inky $inky, clyde $clyde {
  .#{nth($ghost, 1)} {
    background-color: #{nth($ghost, 2)};
  }

  td.#{nth($ghost, 1)}-target {
    outline: 4px solid #{nth($ghost, 2)};
  }
}

// Highlight

.highlight {
  background-color: #39e926;
}
